<h1>Place your bet.</h1>
<h3>Your current balance is <%= session['bankroll'] %> </h3>
<form action="bet" method="post" id="bet-form">
  <label>Bet:</label>
  <input type="text" name="bet_value">
</form>
<h2 id="bet-message"><%= session['bet_message'] %></h2>